  <body class="leaguegame" id="league-game-body">
    <header class="leaguegame-header"><%= render Ethduel.Web.LayoutView, "header.html", conn: @conn %></header>
    <page class="league-content">

      <div class="blueteam"><%= render Ethduel.Web.GameView, "blueteam.html", conn: @conn, teams: @teams %></div>

      
      <div class="center-panels">
        <div id="bet-blue" class="bet-panel"><%= render Ethduel.Web.GameView, "betblue.html", conn: @conn %></div>
        <div id="game-info" class="other-panel"><%= render Ethduel.Web.GameView, "gameinfo.html", conn: @conn, gameTime: @gameTime %></div>
        <div id="bet-red" class="bet-panel"><%= render Ethduel.Web.GameView, "betred.html", conn: @conn %></div>
        <div id="chat-box" class="chat-panel other-panel"><%= render Ethduel.Web.GameView, "chat.html", conn: @conn %></div>
      </div>

      <div class="redteam"><%= render Ethduel.Web.GameView, "redteam.html", conn: @conn,  teams: @teams  %></div>
      </page>

    <footer <%= render Ethduel.Web.LayoutView, "footer.html", conn: @conn %></footer>
  </body>
