<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#legalModal">
  Legal
</button>

<!-- Modal -->
<div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="legalModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="legalModalLabel">Terms of Use</h4>
      </div>
      <div class="modal-body">
        <p> By clicking "Agree" or interacting with Ethduel.com beyond these terms of use, you confirm the following:
        <ul> You are at least 18 years of age. </ul>
        <ul> You represent, warrant and agree to ensure that your use of the skill-based cryptocurrency betting provided by Ethduel.com 
             services will comply with all applicable laws, statutes and regulations in your jurisdiction. </ul>
        <ul> You agree Ethduel is not responsible for any illegal or unauthorized use of our services by you. Ethduel does not intend to enable you to contravene applicable law.</ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="window.location='http://www.google.com';">Exit</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
      </div>
    </div>
  </div>
</div>