<body class="accounts">
<div><%= render Ethduel.Web.LayoutView, "header.html", conn: @conn%></div>
  <h2><%="Account overview"%></h2>
  <div class="account-panels">
    <div class="bet-history-panel">Bet History Panel
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
      <p>Past Bet</p>
       <p>Past Bet</p>
        <p>Past Bet</p>
        
         <p>Past Bet</p>
          <p>Past Bet</p>
           <p>Past Bet</p>
            <p>Past Bet</p>
             <p>Past Bet</p>

    </div>

    <div class="transaction-history-panel">Transaction History Panel
      <p>Deposit</p>
      <p>Withdraw</p>
      <p>Deposit</p>
      <p>Withdraw</p>
      <p>Deposit</p>
      <p>Withdraw</p>
      <p>Deposit</p>
      <p>Withdraw</p>
      <p>Deposit</p>
      <p>Withdraw</p>
    </div>
  </div>

<footer <%= render Ethduel.Web.LayoutView, "footer.html", conn: @conn %></footer>
</body>