/* Panels for Game Pages*/

.center-panels {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 960px;
  width: 80%;
}

.center-panels > div{
  flex: 1 0 33%;
} 
.center-panels > div:last-child  {
  flex: 0 1 100%;
}

.bet-panel {
  align-content: center;
  border: 1px solid #5E5F61;
  display: flex;
  flex-basis: auto;
  justify-content: center;
  margin-bottom: 0.5em;
  width: 30vw;
}

.info-panel {
  align-content: center;
  border: 1px solid #5E5F61;
  display: flex;
  flex-basis: auto;
  justify-content: center;
  margin-bottom: 0.5em;
  width: 30vw;
}

/*  Chat */
.chat-panel {
  align-content: center;
  border: 1px solid #5E5F61;

  min-height: 50vh;
  height: 50vh;
  max-width: 100%;
  
  
}

#chat-messages {
  min-height: 100%;
  overflow-y: scroll;
  max-width: 100%;
  word-wrap: break-word
  
}

.panel-messages {
  height: 50vh;
  max-width: 100%;
  
 }





/* Panels for Home Page */ 

.popular-panel {
  display: flex;
  flex-direction: column;
  max-width: 760px;
}

.game-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .7em;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  background: linear-gradient(to right, rgba(59, 79, 97, 0.6), rgba(204, 132, 132, 0.67));
  
}

.game-description {
  text-align: center;
  padding-top: 1px;
  margin-top: 2px;
}

.blue-preview {
  display: flex;
  flex-direction: row;

}

.blue-preview > .small-champion > img {
  border: 2px solid #04325e;
} 

.red-preview {
  display: flex;
  flex-direction: row;
}

.red-preview > .small-champion > img{
  border: 2px solid #d61a1a;
} 

.small-champion img{
  justify-content: space-around;
  margin-left: 2px;
  margin-right: 2px;
  width: 48px;
  height: 48px;
  margin-bottom: 1px;
  margin-top: 1px;
  background-size: 48px 48px;
  border-radius: 4px;
}

/* INTRO PANELS */

#intro {
  text-align: center;
  width: 50%;
  margin-top: 3.5em;
  margin-bottom: 1.5em;
  padding-bottom: 0em;
  padding-top: 0em;
  border: 6px solid whitesmoke; 
  border-style: none none solid none;
  background: none;
}

.lead-panels{
  display:flex;
  width: 80%;
  justify-content: space-between;
  
}

.lead-panels > div {
  margin: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em;
  width: 40%;
  border: 2px solid rgba(0, 0, 0, 0.77);  
}

#intro-bet {
  background: linear-gradient(to right, rgba(199, 202, 204, 0.6), rgba(136, 178, 245, 0.6));
  margin-top: 3em;
  margin-bottom: 2em;
  padding-top: 0em;
}

#intro-help {
  background: linear-gradient(to left, rgba(224, 223, 223, 0.6), rgba(248, 133, 133, 0.6));
  margin-top: 3em;
  
}

/* ACCOUNT PAGE PANELS  */ 
.account-panels {
  display: flex;
  justify-content: space-around;
}

/* GAME INFO PANEL */
.game-info {
  text-align: center;
}