<!-- popular games are those with the most bets and game time is <20 minutes-->
    <div class="popular-game-list">
      <%= for game <- @populargames do %>
        <%= render(Ethduel.Web.PageView, "gamepreview.html", conn: @conn, game: game) %>
       <% end %>  
    </div>