<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
         What is League of Legends? Ethereum? MetaMask? 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <b>League of Legends</b> is an online 5 versus 5 battle arena, boasting over 100 million monthly active players all over the world, with games lasting around 30-45 minutes. <b>Ethereum</b> is a decentralized computing platform running a blockchain, similar to Bitcoin but with improvements.  Put simply, for Ethduel's purposes we are using it as a way to connect players from all around the world, and giving them an easy way to bet using the tokens of Ethereum, called Ether.  <b>MetaMask</b> is a trusted Chrome extension that connects your browser to the Ethereum network, and includes a secure identity vault, providing a user interface to manage your Ether wallet and sign blockchain transactions.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What are the betting odds?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Ethduel is a matching service for peers, so a bet pays out double minus 1% fee. League of Legends ranked matches attempt to place a player at the correct league for their skill level, so the expected win chance for any player or team is ~50%.  Ethduel does not engage in any betting, it only matches players or spectators with opposing bets.  Therefore, your bet is either lost or doubled, minus a 1% fee for Ethduel. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How does betting work, in detail?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        A user enters a betting lobby by searching for a player either in a game or in the game loading screen. A bet is initiated by clicking "Bet on Blue" or "Bet on Red", and enters into a first come, first served pool.  Ethduel will attempt to match it with the first opposing bet within a short time frame.  Unmatched bets can be cancelled, but once a bet is matched it is finalized.  The only way a matched bet can be cancelled is if the game is remade.  When a game ends, an automated program will send the winners their Ether within minutes, which can either be bet again or withdrawn back to MetaMask or another address of their choosing.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How is the Ether on deposit stored?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
      There are multiple layers of security for the deposited Ether.  Ethduel servers run on DigitalOcean with 2FA account authentication, and have modern, secure firewall and access rules.  One of those servers is running the Parity Ethereum client, and deposited Ether is stored in an account there to be programmatically, <b>and only programmatically</b> accessed for user-initiated withdrawals. <em>AND YET</em>. Hacks and exit scams do happen, and until further Ethereum development happens Ethduel will not be fully decentralized and immune to those threats. Please do not store large amounts of Ether on Ethduel servers, as the funds can not be guaranteed nor insured. Ethduel will be issuing Bug Bounties, with prizes of lifetime fee-less betting and Ether.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What about a player throwing the game on purpose?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        This is a tricky problem with a few imperfect solutions that will be added to the site quickly.  For now, Ethduel is starting out with only small bets allowed and we encourage you to use the game lobby or Discord chat to find bettors to match with. The in-game All Chat can be a tool to verify that a player is on a certain team.  Additionally, clicking on a player's portrait in the game lobby will take you to their <b>lolprofile.net</b> page. A feature coming soon is automated "code words" to be exchanged via All Chat that can verify a Blue player bet on Blue, and vice versa for Red.  
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          What is the development road map?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Ethduel is intended to be a platform for worldwide, anonymous competition among players and spectators.  Right now it is reliant on game API's for bet resolution, so after polishing more features for League of Legends betting, new games like Dota 2 and Counterstrike: Global Offensive could be easily added. As the Ethereum network fees go down over time, it is the intent to move to a fully decentralized model with each game match having its own smart contract.    
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Is this legal in my jurisdiction? Are you following regulatory compliance?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
      Ethduel allows users to participate in skill-based bets using cryptocurrency tokens, and is fully committed to complying with all regulatory and legal rules governing both e-sports and cryptocurrency. All users must attest to being over 18 years of age and agree not to use Ethduel to break any laws in their jurisdiction.
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Your question not here?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        Please join us on Discord by clicking the link below, where the Ethduel team will answer any questions you have.
      </div>
    </div>
  </div>
</div>

